
<app-itunes-music-search-list></app-itunes-music-search-list>

<app-injection-test></app-injection-test>

<app-template-model-form></app-template-model-form>

<app-reactive-model-form2></app-reactive-model-form2>

<app-reactive-model-form></app-reactive-model-form>

<hr>
<h2>PIPES</h2>
<p>{{123122223.11 | currency:'BRL':true}} </p>
<p>{{dateVal | date:'dd/MM/yyyy'}} </p>
<p>{{jsonVal | json}} </p>
<p>{{promise | async}} </p>
<p>{{observable | async}} </p>
<img width="100" [src]="imageUrl | avatar" alt="">

<app-observable-form></app-observable-form>

<app-joke-list></app-joke-list>

