<hr>
<h1>ItunesMusicSearchListComponent</h1>

<form action="" class="form-inline">
    <div class="form-group">
        <input type="search"
               class="form-control"
               placeholder="Enter search string"
               [formControl]="seachField">
    </div>
</form>

<p *ngIf="loading">loading</p>

<ul class="list-group">
    <li class="list-group-item" *ngFor="let track of results | async">
        <img src="{{track.artworkUrl30}}" alt="">
        <a href="{{track.trackViewUrl}}" target="_blank">{{track.trackName}}</a>
    </li>
</ul>